[submodule "moonshine"]
	path = moonshine
	url = ../moonshine
[submodule "button-stuff"]
	path = button-stuff
	url = ../button-stuff
[submodule "webcam-test"]
	path = webcam-test
	url = ../webcam-test
